[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false
#csharp_style_var_elsewhere = false:warning
#csharp_style_var_when_type_is_apparent = false:warning
#csharp_style_var_for_built_in_types = false:warning

# Suppress ordering and spacing rules and  XML documentation that are often noisy
dotnet_diagnostic.SA1600.severity = none 
dotnet_diagnostic.SA1601.severity = none  
dotnet_diagnostic.SA1602.severity = none  
dotnet_diagnostic.SA1309.severity = none  
dotnet_diagnostic.SA1401.severity = none  
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1200.severity = none  
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1111.severity = none

dotnet_sort_system_directives_first = false
dotnet_separate_import_directive_groups = false
#dotnet_diagnostic.SA1124.severity = none  # Do not use regions